:root {
	--bg: #41AA7B;
	--primary: #41AA7B;
	--solid: ##41AA7B;
	--btn-w: 10em;
	--dot-w: calc(var(--btn-w)*.2);
	--tr-X: calc(var(--btn-w) - var(--btn-w)*.2);
}

#apply { 
	background-color: #E69C25;
	color: #ffffff;
}

.btn {
	position: relative;
	margin: 0 auto;
	width: var(--btn-w);
	color: var(--primary);
	text-transform: uppercase;
	text-align: center;
	font-size: 3.3em;
	line-height: 2em;
	cursor: pointer;	
}
