:root {
	--bg: ##F39538;
	--primary: ##F39538;
	--solid: ###F39538;
	--btn-w: 10em;
	--dot-w: calc(var(--btn-w)*.2);
	--tr-X: calc(var(--btn-w) - var(--btn-w)*.2);
}

#apply { 
  background-color: #225D70;
  color: #ffffff;
}

.btn {
	position: relative;
	margin: 0 auto;
	width: var(--btn-w);
	color: var(--primary);
	text-transform: uppercase;
	text-align: center;
	font-size: 3.3em;
	font-color: #225D70;
  line-height: 2em;
	cursor: pointer;	
}
