:root {
	--bg: #E66A12;
	--primary: #E66A12;
	--solid: #E66A12;
}
* {box-sizing: border-box;}
*:before, *:after {box-sizing: border-box;}

.btn {
	position: relative;
	margin: 0 auto;
	color: var(--primary);
	border-radius: 5em;
	text-transform: uppercase;
	text-align: center;
	font-size: 1.3em;
	line-height: 2em;
	cursor: pointer;	
}

